{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "SMSAPI REST API",
    "description": "[SMSAPI.com main page](https://www.smsapi.com/)\n\n[API documentation](https://www.smsapi.com/docs)\n### URL adresses\nAPI URL adresses:\n* `https://api.smsapi.com/` - for secure SSL connections\n* `https://api2.smsapi.com/` - backup for secure SSL connections\n\n### Authorization\nAuthorization at SMSAPI utilizes OAuth 2 mechanism.\nYou can generate OAuth token in our customer panel [API Tokens](https://ssl.smsapi.com/react/oauth/manage).\nAuthorization header will be necessary in request to our API.\n\n`Authorization: Bearer <token>`\n"
  },
  "servers": [
    {
      "url": "https://api.smsapi.com"
    },
    {
      "url": "https://api2.smsapi.com"
    }
  ],
  "security": [
    {
      "token": []
    }
  ],
  "paths": {
    "/blacklist/phone_numbers": {
      "get": {
        "summary": "Returns blacklist phone numbers",
        "tags": [
          "blacklist"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/q"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/Async-Csv"
          },
          {
            "$ref": "#/components/parameters/Accept-Header-Csv"
          }
        ],
        "responses": {
          "200": {
            "description": "Blacklist phone numbers",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BlacklistPhoneNumbers"
                    },
                    {
                      "$ref": "#/components/schemas/FileContentLocation"
                    }
                  ]
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "202": {
            "description": "CSV file generation started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileContentLocation"
                }
              }
            }
          },
          "204": {
            "description": "No blacklist phone numbers to export"
          }
        }
      },
      "post": {
        "summary": "Adds phone number to blacklist",
        "tags": [
          "blacklist"
        ],
        "requestBody": {
          "required": true,
          "description": "Blacklist phone number",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBlacklistPhoneNumber"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateBlacklistPhoneNumber"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Blacklist phone number created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistPhoneNumber"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError",
            "description": "Invalid phone number"
          }
        }
      },
      "delete": {
        "summary": "Delete phone numbers",
        "tags": [
          "blacklist"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/queryPhoneNumber"
          }
        ],
        "responses": {
          "204": {
            "description": "Blacklist phone numbers deleted"
          }
        }
      }
    },
    "/blacklist/phone_numbers/imports": {
      "post": {
        "summary": "Imports phone numbers to blacklist",
        "tags": [
          "blacklist"
        ],
        "requestBody": {
          "required": true,
          "description": "Blacklist import",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "import": {
                    "type": "string"
                  }
                }
              }
            },
            "text/csv": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Import accepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError",
            "description": "Invalid import file"
          }
        }
      }
    },
    "/blacklist/phone_numbers/{id}": {
      "delete": {
        "summary": "Delete blacklist phone number",
        "tags": [
          "blacklist"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "204": {
            "description": "Blacklist phone number deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/callbacks": {
      "get": {
        "summary": "Lists registered callbacks",
        "tags": [
          "callbacks"
        ],
        "responses": {
          "200": {
            "description": "Callbacks list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallbackCollection"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Registers callback",
        "tags": [
          "callbacks"
        ],
        "requestBody": {
          "required": true,
          "$ref": "#/components/requestBodies/CreateCallbackRequest"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/CreateCallbackResponse"
          }
        }
      },
      "options": {
        "summary": "Create callback options",
        "tags": [
          "callbacks"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OptionsCallbackResponse"
          }
        }
      }
    },
    "/callbacks/{id}": {
      "get": {
        "summary": "Get callback",
        "tags": [
          "callbacks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Callback",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallbackResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Updates callback",
        "tags": [
          "callbacks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCallback"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Callback updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallbackResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete callback",
        "tags": [
          "callbacks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "204": {
            "description": "Callback deleted"
          }
        }
      }
    },
    "/callbacks/{id}/commands/deactivate": {
      "put": {
        "summary": "Deactivate callback",
        "tags": [
          "callbacks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "202": {
            "description": "Callback deactivation started"
          }
        }
      }
    },
    "/callbacks/{id}/commands/activate": {
      "put": {
        "summary": "Activate callback",
        "tags": [
          "callbacks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "202": {
            "description": "Callback activation started"
          }
        }
      }
    },
    "/callbacks/{id}/commands/test": {
      "get": {
        "summary": "Test callback",
        "tags": [
          "callbacks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Callback test result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallbackTestResult"
                }
              }
            }
          }
        }
      }
    },
    "/profile": {
      "get": {
        "summary": "Profile details",
        "tags": [
          "profile"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          }
        }
      }
    },
    "/mfa/codes": {
      "post": {
        "summary": "Generates Multi Factor Authentication code",
        "tags": [
          "mfa"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMFACode"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "MFA code created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MFACode"
                }
              }
            }
          },
          "400": {
            "description": "Invalid phone number - only mobile are acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mfa/codes/verifications": {
      "post": {
        "summary": "Veryfies Multi Factor Authentication code",
        "tags": [
          "mfa"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/VerifyMFACode"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "MFA confirmed"
          },
          "404": {
            "description": "MFA code for given mobile number not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "408": {
            "description": "MFA code expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/opt_outs": {
      "get": {
        "summary": "Opt-Out list",
        "tags": [
          "opt_out"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/queryPhoneNumber"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/Async-Csv"
          },
          {
            "$ref": "#/components/parameters/Accept-Header-Csv"
          }
        ],
        "responses": {
          "200": {
            "description": "Opt-Out list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptOutCollection"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/opt_outs/{optOutId}": {
      "delete": {
        "summary": "Opt-Out delete",
        "tags": [
          "opt_out"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/optOutId"
          }
        ],
        "responses": {
          "204": {
            "description": "Opt-Out deleted"
          },
          "403": {
            "description": "Opt-Out feature turned off",
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/opt_outs/settings": {
      "get": {
        "summary": "Opt-Out settings",
        "tags": [
          "opt_out"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OptOutSettings"
          }
        }
      },
      "put": {
        "summary": "Opt-Out settings update",
        "tags": [
          "opt_out"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateOptOutSettings"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OptOutSettings"
          }
        }
      }
    },
    "/ping": {
      "head": {
        "summary": "Check service availibility",
        "tags": [
          "ping"
        ],
        "responses": {
          "204": {
            "description": "Service is reachable"
          },
          "default": {
            "description": "Service is not reachable"
          }
        }
      },
      "get": {
        "summary": "Authorization result and status of subservices",
        "tags": [
          "ping"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ping"
                }
              }
            }
          }
        }
      }
    },
    "/rcs/senders": {
      "get": {
        "summary": "List of available rcs senders to use",
        "tags": [
          "rcs"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRcsSenderCollection"
                }
              }
            }
          }
        }
      }
    },
    "/rcs/messages": {
      "post": {
        "summary": "Send a single RCS message.",
        "tags": [
          "rcs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendRcsMessage"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SendRcsMessage"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "RCS message has been sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentRcsMessage"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List of RCS messages sent by the current user.",
        "tags": [
          "rcs"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responses/RcsMessageCollection"
                }
              }
            }
          }
        }
      }
    },
    "/sms.do": {
      "post": {
        "operationId": "sendSms",
        "summary": "Send SMS",
        "description": "Send SMS",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/LegacySmsToSend"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacySmsToSend"
              }
            }
          }
        },
        "tags": [
          "sms.do"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/LegacySendSmsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/LegacySendSmsErrorResponse"
                    }
                  ],
                  "type": "object"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "OK:9101844352429796180:0.165"
                }
              }
            }
          }
        }
      }
    },
    "/profile/prices": {
      "get": {
        "summary": "Lists profile prices",
        "tags": [
          "profile"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfilePricingType"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prices"
                }
              }
            }
          }
        }
      }
    },
    "/short_url/links": {
      "get": {
        "summary": "List short URLs",
        "tags": [
          "short_url"
        ],
        "responses": {
          "200": {
            "description": "Short URL links.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShortUrlCollection"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableError"
          }
        }
      },
      "post": {
        "summary": "Create short URL",
        "tags": [
          "short_url"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateShortURL"
                  },
                  {
                    "$ref": "#/components/schemas/CreateRichMediaShortURL"
                  }
                ]
              },
              "examples": {
                "create_short_url": {
                  "summary": "Create short url",
                  "value": {
                    "url": "http://example.com"
                  }
                },
                "create_named_short_url": {
                  "summary": "Create named short url",
                  "value": {
                    "url": "http://example.com",
                    "name": "Url name"
                  }
                },
                "create_short_url_with_description": {
                  "summary": "Create descriptive short url",
                  "value": {
                    "url": "http://example.com",
                    "description": "My page"
                  }
                },
                "create_rich_media_url": {
                  "summary": "Create rich media short url",
                  "value": {
                    "file": "file"
                  }
                },
                "create_short_url_with_expiration": {
                  "summary": "Create short url that expires in a week",
                  "value": {
                    "url": "http://example.com",
                    "expire_time": 7,
                    "expire_unit": "days"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateShortURL"
                  },
                  {
                    "$ref": "#/components/schemas/CreateRichMediaShortURL"
                  }
                ]
              },
              "examples": {
                "create_short_url": {
                  "summary": "Create short url",
                  "value": "url=http://example.com"
                },
                "create_named_short_url": {
                  "summary": "Create named short url",
                  "value": "url=http://example.com&name=Url name"
                },
                "create_short_url_with_description": {
                  "summary": "Create descriptive short url",
                  "value": "url=http://example.com&description=My page"
                },
                "create_rich_media_url": {
                  "summary": "Create rich media short url",
                  "value": "file=file"
                },
                "create_short_url_with_expiration": {
                  "summary": "Create short url that expires in a week",
                  "value": "url=http://example.com&expire_time=7&expire_unit=days"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Short URL created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShortUrl"
                }
              }
            }
          },
          "409": {
            "description": "Named link already exists"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableError"
          }
        }
      }
    },
    "/short_url/links/{id}": {
      "get": {
        "summary": "Get short URL",
        "tags": [
          "short_url"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/shortUrlId"
          }
        ],
        "responses": {
          "200": {
            "description": "Short URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShortUrl"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableError"
          }
        }
      },
      "put": {
        "summary": "Update short URL",
        "tags": [
          "short_url"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/shortUrlId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShortURL"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Short URL updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShortUrl"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableError"
          }
        }
      },
      "delete": {
        "summary": "Delete short URL",
        "tags": [
          "short_url"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/shortUrlId"
          }
        ],
        "responses": {
          "204": {
            "description": "Short URL deleted."
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableError"
          }
        }
      }
    },
    "/sms/sendernames/statement": {
      "get": {
        "summary": "Get new sendername statement",
        "tags": [
          "sms/sendernames"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendernameStatement"
                }
              }
            }
          }
        }
      }
    },
    "/sms/sendernames": {
      "get": {
        "summary": "List sendernames",
        "tags": [
          "sms/sendernames"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendernameCollection"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create sendername",
        "tags": [
          "sms/sendernames"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateSendername"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sendername"
                }
              }
            }
          }
        }
      }
    },
    "/sms/sendernames/{sender}": {
      "get": {
        "summary": "Get sendername",
        "tags": [
          "sms/sendernames"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Sender"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sendername"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete sendername",
        "tags": [
          "sms/sendernames"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Sender"
          }
        ],
        "responses": {
          "204": {
            "description": "Delete sendername"
          }
        }
      }
    },
    "/sms/sendernames/{sender}/commands/make_default": {
      "post": {
        "summary": "Make sendername as defualt",
        "tags": [
          "sms/sendernames"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Sender"
          }
        ],
        "responses": {
          "204": {
            "description": "Sendername made as default"
          }
        }
      }
    },
    "/sms/templates": {
      "get": {
        "summary": "List own SMS templates",
        "tags": [
          "sms/templates"
        ],
        "responses": {
          "200": {
            "description": "List",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateCollection"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create SMS template",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateSmsTemplate"
              }
            }
          }
        },
        "tags": [
          "sms/templates"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          }
        }
      }
    },
    "/sms/templates/{id}": {
      "get": {
        "summary": "Get SMS template",
        "parameters": [
          {
            "$ref": "#/components/parameters/smsTemplateId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          }
        },
        "tags": [
          "sms/templates"
        ]
      },
      "put": {
        "summary": "Update SMS template",
        "parameters": [
          {
            "$ref": "#/components/parameters/smsTemplateId"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateSmsTemplate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          }
        },
        "tags": [
          "sms/templates"
        ]
      },
      "delete": {
        "summary": "Delete SMS template",
        "parameters": [
          {
            "$ref": "#/components/parameters/smsTemplateId"
          }
        ],
        "responses": {
          "204": {
            "description": "Delete"
          }
        },
        "tags": [
          "sms/templates"
        ]
      }
    },
    "/sms/templates/available": {
      "get": {
        "summary": "List of own SMS templates and (optionally) ones shared with main account",
        "tags": [
          "sms/templates"
        ],
        "responses": {
          "200": {
            "description": "List",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableTemplateCollection"
                }
              }
            }
          }
        }
      }
    },
    "/subusers": {
      "get": {
        "tags": [
          "subusers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubusersQuery"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubuserCollection"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create subuser",
        "tags": [
          "subusers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubuser"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subuser"
                }
              }
            }
          }
        }
      }
    },
    "/subusers/{id}": {
      "get": {
        "summary": "Get subuser details",
        "tags": [
          "subusers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subuser"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete subuser",
        "tags": [
          "subusers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "204": {
            "description": "Subuser deleted"
          }
        }
      },
      "put": {
        "summary": "Edit subuser",
        "tags": [
          "subusers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSubuser"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subuser"
                }
              }
            }
          }
        }
      }
    },
    "/subusers/{id}/shares/sendernames": {
      "get": {
        "summary": "Get subuser native sendernames access",
        "tags": [
          "subusers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubuserSendernamesAccess"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update subuser native sendernames access",
        "tags": [
          "subusers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubuserSendernamesAccess"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Subuser native sendernames access updated"
          }
        }
      }
    },
    "/subusers/{id}/shares/templates": {
      "get": {
        "summary": "Get subuser native templates access",
        "tags": [
          "subusers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubuserTemplatesAccess"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update subuser native templates access",
        "tags": [
          "subusers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubuserTemplatesAccess"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Subuser native templates access updated"
          }
        }
      }
    },
    "/shipment/country_volumes": {
      "get": {
        "summary": "List shipment country volume.",
        "tags": [
          "shipment_restrictions"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "year",
            "schema": {
              "type": "string"
            },
            "description": "Used country volume year."
          },
          {
            "in": "query",
            "name": "month",
            "schema": {
              "type": "string"
            },
            "description": "Used country volume month."
          },
          {
            "$ref": "#/components/parameters/Accept-Header-Csv"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ShipmentCountryVolumeCollection"
          }
        }
      }
    },
    "/contacts/groups": {
      "get": {
        "summary": "Get groups",
        "tags": [
          "contacts/groups"
        ],
        "parameters": [
          {
            "name": "with",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "contacts_count",
                  "permission_send",
                  "no_group",
                  "phone_number"
                ]
              }
            },
            "in": "query",
            "required": false,
            "description": "Search/expose extra parameters"
          },
          {
            "name": "name",
            "schema": {
              "type": "object"
            },
            "in": "query",
            "required": false,
            "description": "Search by group name(s)",
            "examples": {
              "group_name_like": {
                "value": "{\"name\" : \"group name\"}"
              },
              "group_name_equals": {
                "value": "{\"name\" : \"eq(group name)\"}"
              },
              "group_name_equals_case_insensitive": {
                "value": "{\"name\" : \"eqi(group name)\"}"
              },
              "group_names_like": {
                "value": "{\"name\" : [\"group 1 name\", \"group 2 name\"]}"
              },
              "group_names_equals": {
                "value": "{\"name\" : [\"eq(group 1 name)\", \"eq(group 2 name)\"]}"
              },
              "group_names_equals_case_insensitive": {
                "value": "{\"name\" : [\"eqi(group 1 name)\", \"eqi(group 2 name)\"]}"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsCollection"
          }
        }
      },
      "post": {
        "summary": "Create group",
        "tags": [
          "contacts/groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateGroup"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          }
        }
      },
      "delete": {
        "summary": "Delete all groups",
        "tags": [
          "contacts/groups"
        ],
        "responses": {
          "204": {
            "description": "Groups deleted"
          }
        }
      }
    },
    "/contacts/groups/{groupId}": {
      "get": {
        "summary": "Get group",
        "tags": [
          "contacts/groups"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/groupId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "put": {
        "summary": "Edit group",
        "tags": [
          "contacts/groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/groupId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/EditGroup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "summary": "Delete group",
        "tags": [
          "contacts/groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/groupId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DeleteGroup"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Command accepted"
          },
          "204": {
            "description": "Group deleted"
          },
          "304": {
            "description": "Group not modified"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/contacts/groups/{groupId}/permissions": {
      "get": {
        "summary": "List group permissions",
        "tags": [
          "contacts/groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/groupId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupPermissionsCollection"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "post": {
        "summary": "Add group permission",
        "tags": [
          "contacts/groups"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/groupId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateGroupPermission"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupPermission"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/contacts/groups/{groupId}/permissions/{username}": {
      "get": {
        "summary": "Get user group permission",
        "tags": [
          "contacts/groups"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/username"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupPermission"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "put": {
        "summary": "Edit user group permission",
        "tags": [
          "contacts/groups"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/username"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGroupPermission"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupPermission"
                }
              }
            }
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupPermission"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "summary": "Delete user group permission",
        "tags": [
          "contacts/groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/username"
          }
        ],
        "responses": {
          "204": {
            "description": "Permission deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/contacts/groups/{groupId}/members/{contactId}": {
      "put": {
        "summary": "Pin contact to group",
        "tags": [
          "contacts/groups"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "get": {
        "summary": "Check if contact is in group",
        "tags": [
          "contacts/groups"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "summary": "Unpin contact from group",
        "tags": [
          "contacts/groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "204": {
            "description": "Contact to group association deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/contacts/groups/{groupId}/members": {
      "put": {
        "summary": "Move contact to group by query",
        "tags": [
          "contacts/groups"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/groupId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/MoveContactToGroupByQuery"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Command accepted"
          },
          "204": {
            "description": "Command executed"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "post": {
        "summary": "Add contact to group by query",
        "tags": [
          "contacts/groups"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/groupId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AddContactToGroupByQuery"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Command accepted"
          },
          "204": {
            "description": "Command executed"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "summary": "Unpin contacts from group by query",
        "tags": [
          "contacts/groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/groupId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/UnpinContactFromGroupByQuery"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Command accepted"
          },
          "204": {
            "description": "Command executed"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "summary": "List contacts",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "q",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false,
            "description": "Search text on standard fields (first name, last name, phone number, email, city)"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "order_by",
            "schema": {
              "type": "string",
              "enum": [
                "first_name",
                "last_name",
                "date_updated",
                "date_created"
              ]
            },
            "in": "query",
            "required": false
          },
          {
            "$ref": "#/components/parameters/phoneNumberQuery"
          },
          {
            "$ref": "#/components/parameters/emailAddressQuery"
          },
          {
            "$ref": "#/components/parameters/firstNameQuery"
          },
          {
            "$ref": "#/components/parameters/lastNameQuery"
          },
          {
            "name": "group_id",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "required": false,
            "description": "Search by group"
          },
          {
            "name": "gender",
            "schema": {
              "type": "string",
              "enum": [
                "undefined",
                "male",
                "female"
              ]
            },
            "in": "query",
            "required": false,
            "description": "Search by gender"
          },
          {
            "name": "birthday_date",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Date"
              }
            },
            "in": "query",
            "required": false,
            "description": "Search by birthday date",
            "examples": {
              "birthday_date_equals": {
                "value": "2022-06-24"
              },
              "birthday_date_less_than": {
                "value": "lt(2022-06-24)"
              },
              "birthday_date_less_than_or_equal": {
                "value": "lte(2022-06-24)"
              },
              "birthday_date_greater_than": {
                "value": "gt(2022-06-24)"
              },
              "birthday_date_greater_than_or_equal": {
                "value": "gte(2022-06-24)"
              },
              "birthday_date_between": {
                "value": "between(2022-06-24, 2022-06-25)"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ContactsCollection"
          }
        }
      },
      "post": {
        "summary": "Create contacts",
        "tags": [
          "contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateContact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "summary": "Delete all contacts",
        "tags": [
          "contacts"
        ],
        "responses": {
          "202": {
            "description": "Contacts deleted"
          }
        }
      }
    },
    "/contacts/{contactId}": {
      "get": {
        "summary": "Get contact",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "put": {
        "summary": "Edit contacts",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "summary": "Delete contact",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "204": {
            "description": "Contact deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/contacts/{contactId}/groups": {
      "get": {
        "summary": "Get groups related to contact",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsCollection"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "post": {
        "summary": "Assign contact to group",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "description": "Group id",
                  "$ref": "#/components/schemas/Id"
                },
                "example": {
                  "1": "0f0f0f0f0f0f0f0f0f0f0f0f",
                  "2": "0f0f0f0f0f0f0f0f0f0f0f0f"
                }
              },
              "examples": {
                "assign_contact_to_groups": {
                  "summary": "Assign contact to many groups at once"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "No contact-group association created, contact not assigned to any new group",
            "$ref": "#/components/responses/EmptyCollection"
          },
          "201": {
            "$ref": "#/components/responses/GroupsCollection"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/contacts/{contactId}/groups/{groupId}": {
      "get": {
        "summary": "Get group related to contact",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          },
          {
            "$ref": "#/components/parameters/groupId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "put": {
        "summary": "Assign contact to group",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          },
          {
            "$ref": "#/components/parameters/groupId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupsCollection"
          },
          "201": {
            "$ref": "#/components/responses/GroupsCollection"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "summary": "Unpin contact from group",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          },
          {
            "$ref": "#/components/parameters/groupId"
          }
        ],
        "responses": {
          "204": {
            "description": "Contact to group association deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/contacts/trash": {
      "head": {
        "summary": "Elements in trash",
        "description": "Header \"X-Result-Count\"",
        "tags": [
          "contacts/trash"
        ],
        "responses": {
          "204": {
            "description": "Response in header \"X-Result-Count\"",
            "headers": {
              "X-Result-Count": {
                "description": "Trash amount",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Clean trash",
        "tags": [
          "contacts/trash"
        ],
        "responses": {
          "202": {
            "description": "Command accepted - trash will be deleted"
          },
          "204": {
            "description": "Command not accepted - no trash"
          }
        }
      }
    },
    "/contacts/trash/restore": {
      "put": {
        "summary": "Restore trash",
        "tags": [
          "contacts/trash"
        ],
        "responses": {
          "202": {
            "description": "Command accepted - trash will be restored"
          },
          "204": {
            "description": "Commad not accepted - no trash"
          }
        }
      }
    },
    "/contacts/fields": {
      "get": {
        "summary": "List fields",
        "tags": [
          "contacts/fields"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/FieldsCollection"
          }
        }
      },
      "post": {
        "summary": "Create field",
        "tags": [
          "contacts/fields"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateField"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsField"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/fields/{fieldId}": {
      "put": {
        "summary": "Edit field",
        "tags": [
          "contacts/fields"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/UpdateField"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/fieldId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsField"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "summary": "Delete field",
        "tags": [
          "contacts/fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/fieldId"
          }
        ],
        "responses": {
          "204": {
            "description": "Contact field deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/contacts/fields/{fieldId}/options": {
      "get": {
        "summary": "List field options",
        "tags": [
          "contacts/fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/fieldId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/FieldOptionsCollection"
          },
          "501": {
            "$ref": "#/components/responses/NotImplementedError"
          }
        }
      }
    },
    "/contacts/fields/available": {
      "get": {
        "summary": "List available build-in and user-defined fields",
        "tags": [
          "contacts/fields"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FieldAvailable"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "token": {
        "type": "http",
        "scheme": "bearer",
        "in": "header",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "FileContentLocation": {
        "required": [
          "file_id"
        ],
        "properties": {
          "file_id": {
            "type": "string"
          }
        }
      },
      "ErrorTag": {
        "type": "string",
        "pattern": "[a-z_]+",
        "example": "invalid_request_data"
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "One or more of the given values is invalid."
          },
          "error": {
            "$ref": "#/components/schemas/ErrorTag"
          },
          "developer_description": {
            "type": "string",
            "nullable": true
          },
          "errors": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ErrorItem"
            }
          }
        }
      },
      "ErrorItem": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorTag"
          },
          "path": {
            "type": "string",
            "example": "select_fields",
            "nullable": true
          },
          "value": {
            "type": "string",
            "example": "color",
            "nullable": true
          }
        }
      },
      "ErrorCollection": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Error"
        }
      },
      "Date": {
        "type": "string",
        "format": "date",
        "example": "2017-07-21"
      },
      "YearMonth": {
        "type": "string",
        "format": "date",
        "example": "2017-07"
      },
      "Money": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "format": "float"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "Currency": {
        "type": "string",
        "required": true,
        "example": "EUR"
      },
      "DateNullable": {
        "type": "string",
        "format": "date",
        "example": "2017-07-21",
        "nullable": true
      },
      "DateTime": {
        "type": "string",
        "format": "date-time",
        "example": "2017-07-21T17:32:28Z"
      },
      "DateTimeNullable": {
        "type": "string",
        "format": "date-time",
        "example": "2017-07-21T17:32:28Z",
        "nullable": true
      },
      "DateTimeRange": {
        "type": "object",
        "properties": {
          "from": {
            "$ref": "#/components/schemas/DateTime"
          },
          "to": {
            "$ref": "#/components/schemas/DateTime"
          }
        }
      },
      "DateTimeRangeInput": {
        "type": "object",
        "description": "Request-side date range. Accepts a date (2025-01-15) or a full RFC3339 datetime; normalized server-side.",
        "properties": {
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          }
        }
      },
      "Hour24": {
        "type": "integer",
        "minimum": 0,
        "maximum": 24
      },
      "Hour24Range": {
        "type": "object",
        "properties": {
          "from": {
            "$ref": "#/components/schemas/Hour24"
          },
          "to": {
            "$ref": "#/components/schemas/Hour24"
          }
        }
      },
      "Id": {
        "type": "string",
        "format": "oid",
        "pattern": "[0-9a-fA-F]{24}",
        "description": "Object ID",
        "example": "0f0f0f0f0f0f0f0f0f0f0f0f"
      },
      "Idx": {
        "type": "string",
        "nullable": true,
        "example": "example-user-provided-id-123"
      },
      "Lang": {
        "type": "string",
        "pattern": "[a-z]{2}",
        "example": "pl"
      },
      "IdCollection": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Id"
        }
      },
      "Email": {
        "type": "string",
        "format": "email"
      },
      "EmailCollection": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "EmailNullable": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Email"
          },
          {
            "nullable": true
          }
        ]
      },
      "Url": {
        "type": "string",
        "format": "url",
        "description": "WHATWG URL compliant",
        "example": "https://smsapi.pl"
      },
      "Method": {
        "type": "string",
        "enum": [
          "GET",
          "POST",
          "PUT",
          "DELETE"
        ]
      },
      "PhoneNumber": {
        "type": "string",
        "pattern": "[0-9]{8,16}",
        "example": "48327201200"
      },
      "LinkCollection": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Link"
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "method": {
            "$ref": "#/components/schemas/Method"
          },
          "href": {
            "$ref": "#/components/schemas/Url"
          }
        }
      },
      "PhoneNumberNullable": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PhoneNumber"
          },
          {
            "nullable": true
          }
        ]
      },
      "IPv4": {
        "type": "string",
        "pattern": "[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}",
        "example": "0.0.0.0"
      },
      "IPv4Range": {
        "type": "string",
        "pattern": "[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}-[0-9]{1,3}",
        "example": "0.0.0.0-255"
      },
      "EmptyString": {
        "type": "string",
        "pattern": ""
      },
      "DownloadFileToken": {
        "type": "string",
        "example": "PgOwAlfZFzRh5MeU5Sm7t6R6eOhsAUl45ouynRc1BCW1q21uPcma0TlozEa2E4aos77Q1dYschd8XDoy3JsS1xlQUnORO86Yic44",
        "description": "Download token used with \"files/{token}\" endpoint to download files, valid only for couple of seconds"
      },
      "OptionsResponse": {
        "type": "object",
        "properties": {
          "put": {
            "type": "object",
            "properties": {
              "available_fields": {
                "description": "Shows fields available to edit",
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "example_select_field",
                  "example_select_field.sub_field"
                ]
              },
              "selects": {
                "type": "object",
                "$ref": "#/components/schemas/OptionsResponseExampleSelectFields"
              },
              "rules": {
                "type": "object"
              }
            }
          },
          "get": {
            "type": "object",
            "properties": {
              "available_fields": {
                "description": "Shows fields available to display",
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "example_select_field",
                  "example_select_field.sub_field"
                ]
              },
              "selects": {
                "type": "object",
                "$ref": "#/components/schemas/OptionsResponseExampleSelectFields"
              }
            }
          },
          "post": {
            "type": "object",
            "properties": {
              "available_fields": {
                "description": "Shows fields available to add",
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "example_select_field",
                  "example_select_field.sub_field"
                ]
              },
              "selects": {
                "type": "object",
                "$ref": "#/components/schemas/OptionsResponseExampleSelectFields"
              },
              "rules": {
                "type": "object"
              }
            }
          },
          "_extra": {
            "type": "object"
          }
        }
      },
      "OptionsResponseExampleSelectFields": {
        "type": "object",
        "properties": {
          "example_select_field": {
            "type": "object",
            "$ref": "#/components/schemas/OptionsResponseSelectPresenterCollection"
          },
          "example_select_field.sub_field": {
            "type": "object",
            "$ref": "#/components/schemas/OptionsResponseSelectPresenterCollection"
          }
        }
      },
      "OptionsResponseSelectPresenterCollection": {
        "type": "array",
        "items": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/OptionsResponseSelectPresenterString"
            },
            {
              "$ref": "#/components/schemas/OptionsResponseSelectPresenterInteger"
            },
            {
              "$ref": "#/components/schemas/OptionsResponseSelectPresenterFloat"
            },
            {
              "$ref": "#/components/schemas/OptionsResponseSelectPresenterBool"
            }
          ]
        }
      },
      "OptionsResponseSelectPresenterString": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "OptionsResponseSelectPresenterInteger": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "type": "integer"
          }
        }
      },
      "OptionsResponseSelectPresenterFloat": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "OptionsResponseSelectPresenterBool": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "type": "boolean"
          }
        }
      },
      "UnixTimestamp": {
        "type": "integer",
        "example": 1712570310,
        "description": "UNIX timestamp"
      },
      "SmsParts": {
        "type": "integer",
        "minimum": 1,
        "maximum": 10
      },
      "Points": {
        "type": "number",
        "format": "float",
        "example": 0.165
      },
      "Collection": {
        "properties": {
          "size": {
            "type": "integer"
          },
          "collection": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "BlacklistPhoneNumbers": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Collection"
          },
          {
            "type": "object",
            "required": [
              "size",
              "collection"
            ],
            "properties": {
              "collection": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BlacklistPhoneNumber"
                }
              }
            }
          }
        ]
      },
      "BlacklistPhoneNumber": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "phone_number": {
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "expire_at": {
            "$ref": "#/components/schemas/DateNullable"
          },
          "created_at": {
            "$ref": "#/components/schemas/DateTime"
          }
        }
      },
      "CreateBlacklistPhoneNumber": {
        "type": "object",
        "properties": {
          "phone_number": {
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "expire_at": {
            "$ref": "#/components/schemas/DateNullable"
          }
        }
      },
      "Callback": {
        "type": "object",
        "required": [
          "url",
          "type"
        ],
        "properties": {
          "url": {
            "$ref": "#/components/schemas/Url"
          },
          "api_version": {
            "$ref": "#/components/schemas/CallbackApiVersion"
          },
          "type": {
            "type": "string",
            "enum": [
              "sms_dlr",
              "sms_mo",
              "mms_dlr",
              "mms_mo",
              "vms_dlr",
              "bulk",
              "hlr",
              "short_url"
            ]
          }
        },
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "sms_mo": "CallbackMo",
            "mms_mo": "CallbackMo",
            "vms_mo": "CallbackMo",
            "sms_dlr": "CallbackDlr",
            "mms_dlr": "CallbackDlr",
            "vms_dlr": "CallbackDlr",
            "hlr": "CallbackHlr",
            "bulk": "CallbackBulk",
            "short_url": "CallbackShortUrl"
          }
        }
      },
      "CallbackMo": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Callback"
          }
        ],
        "type": "object",
        "required": [
          "receiver_type"
        ],
        "properties": {
          "type": {
            "enum": [
              "sms_mo",
              "mms_mo"
            ]
          },
          "receiver_type": {
            "type": "string",
            "enum": [
              "all",
              "2way",
              "number"
            ]
          },
          "receiver_number": {
            "type": "string"
          }
        },
        "example": {
          "url": "https://smsapi.pl",
          "type": "sms_mo",
          "receiver_type": "number",
          "receiver_number": "123123123"
        }
      },
      "CallbackDlr": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Callback"
          }
        ],
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "sms_dlr",
              "mms_dlr",
              "vms_dlr"
            ]
          }
        },
        "example": {
          "url": "https://smsapi.pl",
          "type": "sms_dlr"
        }
      },
      "CallbackHlr": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Callback"
          }
        ],
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "hlr"
            ]
          }
        },
        "example": {
          "url": "https://smsapi.pl",
          "type": "hlr"
        }
      },
      "CallbackBulk": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Callback"
          }
        ],
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "bulk"
            ]
          }
        },
        "example": {
          "url": "https://smsapi.pl",
          "type": "bulk"
        }
      },
      "CallbackShortUrl": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Callback"
          }
        ],
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "short_url"
            ]
          }
        },
        "example": {
          "url": "https://smsapi.pl",
          "type": "short_url"
        }
      },
      "UpdateCallback": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "$ref": "#/components/schemas/Url"
          },
          "api_version": {
            "$ref": "#/components/schemas/CallbackApiVersion"
          }
        }
      },
      "CallbackCollection": {
        "type": "object",
        "properties": {
          "size": {
            "type": "integer"
          },
          "collection": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/CallbackResponse"
            }
          }
        }
      },
      "CallbackResponse": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "url": {
            "$ref": "#/components/schemas/Url"
          },
          "api_version": {
            "$ref": "#/components/schemas/CallbackApiVersion"
          },
          "type": {
            "type": "string",
            "enum": [
              "sms_dlr",
              "sms_mo",
              "mms_dlr",
              "mms_mo",
              "vms_dlr",
              "bulk",
              "hlr",
              "short_url"
            ]
          },
          "receiver": {
            "type": "object",
            "nullable": true,
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "all",
                  "2way",
                  "number"
                ]
              },
              "number": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "active": {
            "type": "boolean"
          },
          "invalid": {
            "type": "boolean",
            "nullable": true
          }
        },
        "example": {
          "id": "0f0f0f0f0f0f0f0f0f0f0f0f",
          "active": true,
          "invalid": true,
          "url": "https://smsapi.pl",
          "api_version": 1,
          "type": "sms_mo",
          "receiver": {
            "type": "number",
            "number": "123123123"
          }
        }
      },
      "CallbackApiVersion": {
        "type": "integer",
        "description": "Version of the callback output format. Supported values depend on the callback type; when omitted on creation the default version of the given type is used.\n",
        "example": 1
      },
      "CallbackTestResult": {
        "type": "object",
        "properties": {
          "test_result": {
            "type": "boolean"
          },
          "connection_failed": {
            "type": "boolean"
          },
          "invalid_encoding": {
            "type": "boolean"
          },
          "http_response_status": {
            "type": "integer",
            "nullable": true
          },
          "http_response_body": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CallbackOptions": {
        "type": "object",
        "properties": {
          "post": {
            "$ref": "#/components/schemas/CallbackPostOptions"
          }
        }
      },
      "CallbackPostOptions": {
        "type": "object",
        "properties": {
          "type": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallbackTypeOptions"
            }
          },
          "receiver_type": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallbackReceiverTypeOptions"
            }
          },
          "receiver_number": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallbackReceiverNumberOptions"
            }
          },
          "receive_numbers": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/CallbackReceiveNumbersOptions"
            }
          }
        }
      },
      "CallbackTypeOptions": {
        "type": "string",
        "enum": [
          "sms_dlr",
          "sms_mo",
          "mms_dlr",
          "mms_mo",
          "vms_dlr",
          "bulk",
          "hlr",
          "short_url"
        ]
      },
      "CallbackReceiverTypeOptions": {
        "type": "string",
        "enum": [
          "all",
          "2way",
          "number"
        ]
      },
      "CallbackReceiverNumberOptions": {
        "type": "string"
      },
      "CallbackReceiveNumbersOptions": {
        "type": "array",
        "properties": {
          "sms": {
            "type": "string"
          },
          "mms": {
            "type": "string"
          }
        }
      },
      "ProfileDocumentsSettings": {
        "properties": {
          "csv_delimiter": {
            "type": "string",
            "enum": [
              ";",
              ",",
              "\n",
              ":"
            ]
          }
        }
      },
      "ProfileSmsSettingsGet": {
        "properties": {
          "max_parts": {
            "type": "string"
          },
          "mail2sms": {
            "type": "boolean"
          },
          "sms_expiration_time": {
            "type": "string",
            "description": "0 or multiple of 3600, max 86400"
          },
          "replace_special_chars": {
            "type": "boolean"
          },
          "footer": {
            "type": "string"
          }
        },
        "required": [
          "max_parts",
          "footer",
          "replace_special_chars",
          "sms_expiration_time"
        ]
      },
      "ProfileSmsSettingsUpdate": {
        "properties": {
          "max_parts": {
            "type": "number",
            "format": "integer"
          },
          "mail2sms": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "integer"
              }
            ]
          },
          "sms_expiration_time": {
            "type": "number",
            "format": "integer",
            "description": "0 or multiple of 3600, max 86400"
          },
          "replace_special_chars": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "integer"
              }
            ]
          }
        }
      },
      "ProfileNotificationsSettings": {
        "properties": {
          "minimum_points_threshold": {
            "description": "Send notifications if points amount fall below this number",
            "type": "number",
            "format": "double"
          },
          "notification_email_addresses": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/Email"
                },
                {
                  "$ref": "#/components/schemas/EmptyString"
                }
              ]
            }
          },
          "notification_phone_numbers": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PhoneNumber"
                },
                {
                  "$ref": "#/components/schemas/EmptyString"
                }
              ]
            }
          }
        }
      },
      "RegionalSettings": {
        "type": "object",
        "required": [
          "language"
        ],
        "properties": {
          "language": {
            "type": "string",
            "example": "en-en",
            "pattern": "^\\D{2}(-\\D{2})?$"
          },
          "timezone": {
            "type": "string",
            "example": "Europe/Warsaw"
          },
          "datetime_format": {
            "type": "string",
            "example": "d.m.Y H:i:s"
          }
        }
      },
      "RegionalSettingsOptions": {
        "type": "object",
        "properties": {
          "put": {
            "type": "object",
            "properties": {
              "available_fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "language",
                  "timezone",
                  "datetime_format"
                ]
              },
              "selects": {
                "type": "object",
                "properties": {
                  "language": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "English"
                        },
                        "value": {
                          "type": "string",
                          "example": "en-en"
                        }
                      }
                    }
                  },
                  "timezone": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "Europe/Warsaw"
                        },
                        "value": {
                          "type": "string",
                          "example": "Europe/Warsaw"
                        }
                      }
                    }
                  },
                  "datetime_format": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "yyyy-mm-dd hh:mm:ss"
                        },
                        "value": {
                          "type": "string",
                          "example": "Y-m-d H:i:s"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AvailableLanguages": {
        "type": "object",
        "properties": {
          "size": {
            "type": "integer"
          },
          "collection": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Language"
            }
          }
        }
      },
      "Language": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "pl",
            "pattern": "^\\D{2}"
          },
          "name": {
            "type": "string",
            "example": "Polski"
          },
          "tag": {
            "type": "string",
            "example": "pl-pl"
          }
        }
      },
      "Profile": {
        "required": [
          "name",
          "email",
          "username",
          "phone_number",
          "payment_type",
          "user_type"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "phone_number": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/PhoneNumber"
              },
              {
                "$ref": "#/components/schemas/EmptyString"
              }
            ]
          },
          "payment_type": {
            "type": "string",
            "enum": [
              "prepaid",
              "postpaid",
              "subscription",
              "trial",
              "undefined"
            ]
          },
          "user_type": {
            "type": "string",
            "enum": [
              "native",
              "subuser"
            ]
          },
          "points": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "MessagesSettings": {
        "properties": {
          "hour_limit": {
            "type": "object",
            "properties": {
              "from": {
                "anyOf": [
                  {
                    "type": "integer"
                  },
                  {
                    "type": "string"
                  }
                ]
              },
              "to": {
                "anyOf": [
                  {
                    "type": "integer"
                  },
                  {
                    "type": "string"
                  }
                ]
              }
            }
          },
          "day_of_week_limit": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string"
              },
              "to": {
                "type": "string"
              }
            }
          },
          "default_country_code": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "UserLegacy": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "username": {
            "type": "string"
          }
        }
      },
      "UserLegacyCollection": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/UserLegacy"
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          }
        }
      },
      "UserCollection": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/User"
        }
      },
      "ConsentProposal": {
        "properties": {
          "purpose": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "clause": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Consent": {
        "properties": {
          "purpose": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "clause": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "RecallConsentByToken": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "g-recaptcha-response": {
            "type": "string"
          }
        }
      },
      "ConsumerProtection": {
        "type": "object",
        "required": [
          "declaration_type"
        ],
        "properties": {
          "declaration_type": {
            "type": "string",
            "enum": [
              "professional",
              "consumer"
            ]
          }
        }
      },
      "FirstName": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "normalized": {
            "type": "string",
            "description": "First name witout special chars"
          },
          "vocative": {
            "type": "string"
          },
          "sex": {
            "type": "string",
            "enum": [
              "male",
              "female"
            ]
          }
        }
      },
      "DiscountGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "DiscountCode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "is_used": {
            "type": "boolean",
            "description": "Is code already used"
          },
          "used_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date when code was used"
          }
        }
      },
      "DiscountCodes": {
        "type": "object",
        "properties": {
          "size": {
            "type": "integer"
          },
          "collection": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DiscountCode"
            }
          }
        }
      },
      "CreateDiscountGroup": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "integer",
            "enum": [
              0,
              1,
              2
            ],
            "description": "Discount code generation type:   * 0 - 0-9,A-Z   * 1 0-9   * 2 A-Z"
          },
          "length": {
            "type": "integer",
            "description": "Length of generated codes"
          },
          "count": {
            "type": "integer"
          },
          "date_expire": {
            "type": "string",
            "format": "date-time"
          },
          "phone_alert": {
            "type": "string",
            "description": "Phone number to send sms to when codes are being exhausted"
          },
          "free_alert": {
            "type": "integer",
[...]
